.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
	background: #000000 url("../images/562469848-page-fr.png") no-repeat left top;
	background: rgba(0,0,0,0) url("../images/562469848.png") no-repeat left top;
	background-color: #000000;
	background-size: cover !important;
}

#menuu2307
{
	z-index: 4;
	width: 1161px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: fixed;
	top: -39px;
	left: -101px;
}

#u2328
{
	width: 385px;
	min-height: 117px;
	position: relative;
	margin-right: -10000px;
}

#u2331
{
	width: 385px;
	background: #0000FF url("../images/u2331-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(58%, #FFFFFF),to(#0000FF));
	background: -webkit-linear-gradient(top,#FFFFFF 58%,#0000FF );
	background: -moz-linear-gradient(top,#FFFFFF 58%,#0000FF );
	background: -ms-linear-gradient(top,#FFFFFF 58%,#0000FF );
	background: -o-linear-gradient(top,#FFFFFF 58%,#0000FF );
	background: linear-gradient(to bottom,#FFFFFF 58%,#0000FF );
	padding-bottom: 74px;
	position: relative;
}

#u2331:hover
{
	background: #0000FF url("../images/u2331-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(58%, #00FFFF),to(#0000FF));
	background: -webkit-linear-gradient(top,#00FFFF 58%,#0000FF );
	background: -moz-linear-gradient(top,#00FFFF 58%,#0000FF );
	background: -ms-linear-gradient(top,#00FFFF 58%,#0000FF );
	background: -o-linear-gradient(top,#00FFFF 58%,#0000FF );
	background: linear-gradient(to bottom,#00FFFF 58%,#0000FF );
	margin: 0px;
}

#u2331:active
{
	background: #0000FF url("../images/u2331-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(58%, #00FFFF),to(#0000FF));
	background: -webkit-linear-gradient(top,#00FFFF 58%,#0000FF );
	background: -moz-linear-gradient(top,#00FFFF 58%,#0000FF );
	background: -ms-linear-gradient(top,#00FFFF 58%,#0000FF );
	background: -o-linear-gradient(top,#00FFFF 58%,#0000FF );
	background: linear-gradient(to bottom,#00FFFF 58%,#0000FF );
	margin: 0px;
}

#u2334-4
{
	width: 385px;
	min-height: 43px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 43px;
	font-size: 36px;
	color: #FF0000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u2331:hover #u2334-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	margin: 0px -10000px 0px 0px;
}

#u2331:active #u2334-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	margin: 0px -10000px 0px 0px;
}

#u2335
{
	width: 386px;
	min-height: 117px;
	position: relative;
	margin-right: -10000px;
	left: 387px;
}

#u2336
{
	width: 386px;
	background: #0000FF url("../images/u2331-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(58%, #FFFFFF),to(#0000FF));
	background: -webkit-linear-gradient(top,#FFFFFF 58%,#0000FF );
	background: -moz-linear-gradient(top,#FFFFFF 58%,#0000FF );
	background: -ms-linear-gradient(top,#FFFFFF 58%,#0000FF );
	background: -o-linear-gradient(top,#FFFFFF 58%,#0000FF );
	background: linear-gradient(to bottom,#FFFFFF 58%,#0000FF );
	padding-bottom: 74px;
	position: relative;
}

#u2336.MuseMenuActive
{
	background: #0000FF url("../images/u2331-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(58%, #FFFFFF),to(#0000FF));
	background: -webkit-linear-gradient(top,#FFFFFF 58%,#0000FF );
	background: -moz-linear-gradient(top,#FFFFFF 58%,#0000FF );
	background: -ms-linear-gradient(top,#FFFFFF 58%,#0000FF );
	background: -o-linear-gradient(top,#FFFFFF 58%,#0000FF );
	background: linear-gradient(to bottom,#FFFFFF 58%,#0000FF );
	margin: 0px;
}

#u2339-4
{
	width: 386px;
	min-height: 43px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 43px;
	font-size: 36px;
	color: #FF0000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 37px;
	left: 0px;
}

#u2331.MuseMenuActive #u2334-4,#u2336:hover #u2339-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	margin: 0px -10000px 0px 0px;
}

#u2336:active #u2339-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	margin: 0px -10000px 0px 0px;
}

#u2321
{
	width: 386px;
	min-height: 117px;
	position: relative;
	margin-right: -10000px;
	left: 775px;
}

#u2322
{
	width: 386px;
	background: #0000FF url("../images/u2331-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(58%, #FFFFFF),to(#0000FF));
	background: -webkit-linear-gradient(top,#FFFFFF 58%,#0000FF );
	background: -moz-linear-gradient(top,#FFFFFF 58%,#0000FF );
	background: -ms-linear-gradient(top,#FFFFFF 58%,#0000FF );
	background: -o-linear-gradient(top,#FFFFFF 58%,#0000FF );
	background: linear-gradient(to bottom,#FFFFFF 58%,#0000FF );
	padding-bottom: 74px;
	position: relative;
}

#u2322:hover
{
	background: #0000FF url("../images/u2331-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(58%, #00FFFF),to(#0000FF));
	background: -webkit-linear-gradient(top,#00FFFF 58%,#0000FF );
	background: -moz-linear-gradient(top,#00FFFF 58%,#0000FF );
	background: -ms-linear-gradient(top,#00FFFF 58%,#0000FF );
	background: -o-linear-gradient(top,#00FFFF 58%,#0000FF );
	background: linear-gradient(to bottom,#00FFFF 58%,#0000FF );
	margin: 0px;
}

#u2322:active
{
	background: #0000FF url("../images/u2331-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(58%, #00FFFF),to(#0000FF));
	background: -webkit-linear-gradient(top,#00FFFF 58%,#0000FF );
	background: -moz-linear-gradient(top,#00FFFF 58%,#0000FF );
	background: -ms-linear-gradient(top,#00FFFF 58%,#0000FF );
	background: -o-linear-gradient(top,#00FFFF 58%,#0000FF );
	background: linear-gradient(to bottom,#00FFFF 58%,#0000FF );
	margin: 0px;
}

#u2324-4
{
	width: 386px;
	min-height: 43px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 43px;
	font-size: 36px;
	color: #FF0000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u2336.MuseMenuActive #u2339-4,#u2322:hover #u2324-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	margin: 0px -10000px 0px 0px;
}

#u2322:active #u2324-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	margin: 0px -10000px 0px 0px;
}

#u2322.MuseMenuActive #u2324-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	margin: 0px -10000px 0px 0px;
}

#u2331.MuseMenuActive #u2334-4 p,#u2336.MuseMenuActive #u2339-4 p,#u2322.MuseMenuActive #u2324-4 p
{
	color: #FF0000;
	visibility: inherit;
	font-size: 36px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1578
{
	z-index: 2;
	width: 149px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1327px;
	left: 406px;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1326px;
}

