@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 669px;
	border-style: none;
	border-color: #000000;
	background: #000000 url("../../images/562469898-page-fr.jpg") no-repeat center center;
	background: rgba(0,0,0,0) url("../../images/562469898.jpg") no-repeat center center;
	background-color: #000000;
	background-size: cover !important;
}

#page_position_content
{
	margin-bottom: -108px;
}

#pamphletu3624
{
	z-index: 21;
	width: 0.01px;
	height: 102px;
	padding-bottom: 206px;
	position: relative;
}

#u3636
{
	position: absolute;
	width: 381px;
}

#u3636popup
{
	z-index: 22;
}

#u3637
{
	z-index: 23;
	width: 379px;
	height: 307px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
}

#u3673-3
{
	z-index: 24;
	width: 123px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 220px;
}

#menuu3638
{
	z-index: 27;
	width: 380px;
	background: #000000 url("../../images/u3369-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(44%, #FFFFFF),to(#000000));
	background: -webkit-linear-gradient(top,#FFFFFF 44%,#000000 );
	background: -moz-linear-gradient(top,#FFFFFF 44%,#000000 );
	background: -ms-linear-gradient(top,#FFFFFF 44%,#000000 );
	background: -o-linear-gradient(top,#FFFFFF 44%,#000000 );
	background: linear-gradient(to bottom,#FFFFFF 44%,#000000 );
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u3666
{
	width: 380px;
	position: relative;
}

#u3667
{
	width: 380px;
	min-height: 29px;
	background: #0000FF url("../../images/u3380-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(50%, #FFFFFF),to(#0000FF));
	background: -webkit-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: -moz-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: -ms-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: -o-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: linear-gradient(to bottom,#FFFFFF 50%,#0000FF );
	padding-bottom: 72px;
	position: relative;
	margin-right: -10000px;
}

#u3667:hover
{
	background: #0000FF url("../../images/u3373-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(50%, #999999),to(#0000FF));
	background: -webkit-linear-gradient(top,#999999 50%,#0000FF );
	background: -moz-linear-gradient(top,#999999 50%,#0000FF );
	background: -ms-linear-gradient(top,#999999 50%,#0000FF );
	background: -o-linear-gradient(top,#999999 50%,#0000FF );
	background: linear-gradient(to bottom,#999999 50%,#0000FF );
	margin: 0px -10000px 0px 0px;
}

#u3667:active
{
	background: #0000FF url("../../images/u3373-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(50%, #6B6B6B),to(#0000FF));
	background: -webkit-linear-gradient(top,#6B6B6B 50%,#0000FF );
	background: -moz-linear-gradient(top,#6B6B6B 50%,#0000FF );
	background: -ms-linear-gradient(top,#6B6B6B 50%,#0000FF );
	background: -o-linear-gradient(top,#6B6B6B 50%,#0000FF );
	background: linear-gradient(to bottom,#6B6B6B 50%,#0000FF );
	margin: 0px -10000px 0px 0px;
}

#u3670-4
{
	width: 380px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 29px;
	font-size: 24px;
	color: #FF0000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 36px;
}

#u3667:hover #u3670-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u3667:active #u3670-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u3649
{
	width: 380px;
	min-height: 29px;
	background: #0000FF url("../../images/u3380-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(50%, #FFFFFF),to(#0000FF));
	background: -webkit-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: -moz-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: -ms-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: -o-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: linear-gradient(to bottom,#FFFFFF 50%,#0000FF );
	padding-bottom: 72px;
	position: relative;
	margin-right: -10000px;
}

#u3649:hover
{
	background: #0000FF url("../../images/u3373-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(50%, #999999),to(#0000FF));
	background: -webkit-linear-gradient(top,#999999 50%,#0000FF );
	background: -moz-linear-gradient(top,#999999 50%,#0000FF );
	background: -ms-linear-gradient(top,#999999 50%,#0000FF );
	background: -o-linear-gradient(top,#999999 50%,#0000FF );
	background: linear-gradient(to bottom,#999999 50%,#0000FF );
	margin: 0px -10000px 0px 0px;
}

#u3649:active
{
	background: #0000FF url("../../images/u3373-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(50%, #6B6B6B),to(#0000FF));
	background: -webkit-linear-gradient(top,#6B6B6B 50%,#0000FF );
	background: -moz-linear-gradient(top,#6B6B6B 50%,#0000FF );
	background: -ms-linear-gradient(top,#6B6B6B 50%,#0000FF );
	background: -o-linear-gradient(top,#6B6B6B 50%,#0000FF );
	background: linear-gradient(to bottom,#6B6B6B 50%,#0000FF );
	margin: 0px -10000px 0px 0px;
}

#u3650-4
{
	width: 380px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 29px;
	font-size: 24px;
	color: #FF0000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 36px;
}

#u3667.MuseMenuActive #u3670-4,#u3649:hover #u3650-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u3649:active #u3650-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u3646,#u3639
{
	width: 380px;
	margin-top: 2px;
	position: relative;
}

#u3642
{
	width: 380px;
	min-height: 29px;
	background: #0000FF url("../../images/u3413-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(50%, #FFFFFF),to(#0000FF));
	background: -webkit-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: -moz-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: -ms-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: -o-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: linear-gradient(to bottom,#FFFFFF 50%,#0000FF );
	padding-bottom: 73px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u3642.MuseMenuActive
{
	background: #0000FF url("../../images/u3413-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(50%, #FFFFFF),to(#0000FF));
	background: -webkit-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: -moz-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: -ms-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: -o-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: linear-gradient(to bottom,#FFFFFF 50%,#0000FF );
	margin: 0px -10000px 0px 0px;
}

#u3643-4
{
	width: 380px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 29px;
	font-size: 24px;
	color: #FF0000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 36px;
	left: 0px;
}

#u3649.MuseMenuActive #u3650-4,#u3642:hover #u3643-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u3642:active #u3643-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u3642.MuseMenuActive #u3643-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u3667.MuseMenuActive #u3670-4 p,#u3649.MuseMenuActive #u3650-4 p,#u3642.MuseMenuActive #u3643-4 p
{
	color: #FF0000;
	visibility: inherit;
	font-size: 24px;
}

#u3631
{
	z-index: 46;
	width: 91px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 290px;
}

#u3632
{
	position: absolute;
	width: 92px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	top: -1px;
	left: -1px;
}

#u3632:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	margin: 0px;
}

#u3632.PamphletThumbSelected
{
	background-color: #6B6B6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin: 0px;
}

#u3633
{
	z-index: 48;
	width: 89px;
	height: 99px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
	background: #FFFFFF url("../../images/566971729-u3362-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u3632:hover #u3633
{
	width: 89px;
	height: 99px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: #FFFFFF url("../../images/566971729-u3362-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u3632.PamphletThumbSelected #u3633
{
	width: 89px;
	height: 99px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: #FFFFFF url("../../images/566971741-u3362-a-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#pu3677
{
	width: 0.01px;
	top: -206px;
	margin-bottom: -206px;
	position: relative;
}

#u3677
{
	z-index: 2;
	width: 379px;
	height: 469px;
	background: #000000 url("../../images/u3677-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0000FF),color-stop(90%, #000000));
	background: -webkit-linear-gradient(top,#0000FF ,#000000 90%);
	background: -moz-linear-gradient(top,#0000FF ,#000000 90%);
	background: -ms-linear-gradient(top,#0000FF ,#000000 90%);
	background: -o-linear-gradient(top,#0000FF ,#000000 90%);
	background: linear-gradient(to bottom,#0000FF ,#000000 90%);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u3678-14
{
	z-index: 3;
	width: 380px;
	min-height: 281px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
}

#u3678
{
	text-decoration: underline;
}

#u3678-4
{
	font-size: 60px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3678-2,#u3678-3,#u3678-6,#u3678-8,#u3678-10,#u3678-12
{
	font-size: 30px;
	line-height: 37px;
}

#u3689
{
	z-index: 17;
	width: 386px;
	left: -3px;
	margin-top: 95px;
	position: relative;
}

#u3692
{
	z-index: 19;
	width: 150px;
	margin-left: 115px;
	position: relative;
}

#u3692_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

body
{
	padding-bottom: 107px;
}

#page .verticalspacer
{
	clear: both;
}

