@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #000000;
}

#page_position_content
{
	margin-top: -1461px;
	margin-bottom: 22px;
}

#u3025
{
	z-index: 12;
	width: 201px;
	min-height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 79px;
	position: relative;
}

#pu2968
{
	width: 0.01px;
	left: -388px;
	margin-top: 19px;
	position: relative;
}

#u2968
{
	z-index: 7;
	width: 1161px;
	height: 191px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #0071BC;
	opacity: 0.73;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=73)";
	filter: alpha(opacity=73);
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 3px;
}

#u2969
{
	z-index: 8;
	width: 1169px;
	position: relative;
	margin-right: -10000px;
}

#pamphletu3328
{
	z-index: 16;
	width: 0.01px;
	height: 75px;
	padding-bottom: 155px;
	left: -1px;
	margin-top: 950px;
	position: relative;
}

#u3341
{
	position: absolute;
	width: 381px;
}

#u3341popup
{
	z-index: 17;
}

#u3352
{
	z-index: 18;
	width: 379px;
	height: 229px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
}

#u3420-3
{
	z-index: 19;
	width: 123px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 161px;
}

#menuu3369
{
	z-index: 22;
	width: 380px;
	background: #000000 url("../../images/u3369-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(44%, #FFFFFF),to(#000000));
	background: -webkit-linear-gradient(top,#FFFFFF 44%,#000000 );
	background: -moz-linear-gradient(top,#FFFFFF 44%,#000000 );
	background: -ms-linear-gradient(top,#FFFFFF 44%,#000000 );
	background: -o-linear-gradient(top,#FFFFFF 44%,#000000 );
	background: linear-gradient(to bottom,#FFFFFF 44%,#000000 );
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u3377
{
	width: 380px;
	position: relative;
}

#u3380
{
	width: 380px;
	min-height: 29px;
	background: #0000FF url("../../images/u3380-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(50%, #FFFFFF),to(#0000FF));
	background: -webkit-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: -moz-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: -ms-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: -o-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: linear-gradient(to bottom,#FFFFFF 50%,#0000FF );
	padding-bottom: 46px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u3380.MuseMenuActive
{
	background: #0000FF url("../../images/u3380-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(50%, #FFFFFF),to(#0000FF));
	background: -webkit-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: -moz-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: -ms-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: -o-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: linear-gradient(to bottom,#FFFFFF 50%,#0000FF );
	margin: 0px -10000px 0px 0px;
}

#u3381-4
{
	width: 380px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 29px;
	font-size: 24px;
	color: #FF0000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 23px;
	left: 0px;
}

#u3380:hover #u3381-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u3380:active #u3381-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u3373
{
	width: 380px;
	min-height: 29px;
	background: #0000FF url("../../images/u3380-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(50%, #FFFFFF),to(#0000FF));
	background: -webkit-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: -moz-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: -ms-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: -o-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: linear-gradient(to bottom,#FFFFFF 50%,#0000FF );
	padding-bottom: 46px;
	position: relative;
	margin-right: -10000px;
}

#u3373:hover
{
	background: #0000FF url("../../images/u3373-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(50%, #999999),to(#0000FF));
	background: -webkit-linear-gradient(top,#999999 50%,#0000FF );
	background: -moz-linear-gradient(top,#999999 50%,#0000FF );
	background: -ms-linear-gradient(top,#999999 50%,#0000FF );
	background: -o-linear-gradient(top,#999999 50%,#0000FF );
	background: linear-gradient(to bottom,#999999 50%,#0000FF );
	margin: 0px -10000px 0px 0px;
}

#u3373:active
{
	background: #0000FF url("../../images/u3373-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(50%, #6B6B6B),to(#0000FF));
	background: -webkit-linear-gradient(top,#6B6B6B 50%,#0000FF );
	background: -moz-linear-gradient(top,#6B6B6B 50%,#0000FF );
	background: -ms-linear-gradient(top,#6B6B6B 50%,#0000FF );
	background: -o-linear-gradient(top,#6B6B6B 50%,#0000FF );
	background: linear-gradient(to bottom,#6B6B6B 50%,#0000FF );
	margin: 0px -10000px 0px 0px;
}

#u3374-4
{
	width: 380px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 29px;
	font-size: 24px;
	color: #FF0000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 23px;
}

#u3380.MuseMenuActive #u3381-4,#u3373:hover #u3374-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u3373:active #u3374-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u3370,#u3410
{
	width: 380px;
	margin-top: 2px;
	position: relative;
}

#u3413
{
	width: 380px;
	min-height: 29px;
	background: #0000FF url("../../images/u3413-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(50%, #FFFFFF),to(#0000FF));
	background: -webkit-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: -moz-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: -ms-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: -o-linear-gradient(top,#FFFFFF 50%,#0000FF );
	background: linear-gradient(to bottom,#FFFFFF 50%,#0000FF );
	padding-bottom: 47px;
	position: relative;
	margin-right: -10000px;
}

#u3413:hover
{
	background: #0000FF url("../../images/u3413-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(50%, #999999),to(#0000FF));
	background: -webkit-linear-gradient(top,#999999 50%,#0000FF );
	background: -moz-linear-gradient(top,#999999 50%,#0000FF );
	background: -ms-linear-gradient(top,#999999 50%,#0000FF );
	background: -o-linear-gradient(top,#999999 50%,#0000FF );
	background: linear-gradient(to bottom,#999999 50%,#0000FF );
	margin: 0px -10000px 0px 0px;
}

#u3413:active
{
	background: #0000FF url("../../images/u3413-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(50%, #6B6B6B),to(#0000FF));
	background: -webkit-linear-gradient(top,#6B6B6B 50%,#0000FF );
	background: -moz-linear-gradient(top,#6B6B6B 50%,#0000FF );
	background: -ms-linear-gradient(top,#6B6B6B 50%,#0000FF );
	background: -o-linear-gradient(top,#6B6B6B 50%,#0000FF );
	background: linear-gradient(to bottom,#6B6B6B 50%,#0000FF );
	margin: 0px -10000px 0px 0px;
}

#u3415-4
{
	width: 380px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 29px;
	font-size: 24px;
	color: #FF0000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 23px;
}

#u3373.MuseMenuActive #u3374-4,#u3413:hover #u3415-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u3413:active #u3415-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u3413.MuseMenuActive #u3415-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u3380.MuseMenuActive #u3381-4 p,#u3373.MuseMenuActive #u3374-4 p,#u3413.MuseMenuActive #u3415-4 p
{
	color: #FF0000;
	visibility: inherit;
	font-size: 24px;
}

#u3333
{
	z-index: 41;
	width: 77px;
	position: relative;
	margin-right: -10000px;
	left: 301px;
}

#u3334
{
	position: absolute;
	width: 79px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u3334:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	margin: 0px;
}

#u3334.PamphletThumbSelected
{
	background-color: #6B6B6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin: 0px;
}

#u3362
{
	z-index: 43;
	width: 75px;
	height: 73px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../../images/566971729-u3362-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u3334:hover #u3362
{
	width: 75px;
	height: 73px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #FFFFFF url("../../images/566971729-u3362-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u3334.PamphletThumbSelected #u3362
{
	width: 75px;
	height: 73px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #FFFFFF url("../../images/566971741-u3362-a-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u3422
{
	z-index: 2;
	width: 379px;
	height: 76px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	left: -1px;
	top: -229px;
	margin-bottom: -78px;
	position: relative;
}

#u3327-3
{
	z-index: 13;
	width: 5px;
	left: -315px;
	margin-top: 190px;
	position: relative;
}

#u2973
{
	z-index: 10;
	width: 1173px;
	left: -389px;
	top: -1178px;
	margin-bottom: -29px;
	position: relative;
}

#u2966
{
	z-index: 5;
	width: 380px;
	left: -1px;
	top: -359px;
	margin-bottom: -227px;
	position: relative;
}

#u2964
{
	z-index: 3;
	width: 150px;
	margin-left: 129px;
	margin-top: 179px;
	position: relative;
}

#u2964_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#page .verticalspacer
{
	clear: both;
}

